<div class="row">
	<div class="col-md-12">
		<div class="video-player" id="video-player">
			<div id="player" class="player">You need Flash and JavaScript enabled to view this video.</div>
			<div class="video-control">
				<button class="btn pull-left" onclick="playClip();">
					<span class="glyphicon glyphicon-repeat"></span>
				</button>
				<div class="video-time pull-left"></div>
			</div>
		</div>
	</div>
</div>