<%- model_class = Clip -%>

<div class="row">
	<div class="col-md-12">
		<h1 class="center">YouClip</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	</div>
</div>

<%= render :partial => 'form' %>
