<%= render 'index.js.erb' %>

<div class="row input-row">
	<div class="col-md-6 col-md-offset-3">
		<input type="text" class="form-control" placeholder="paste a youtube video url" id="video-id">
	</div>
	<div class="col-md-3">
		<button class="btn btn-primary btn-lg new-video-button" id="new-video-button">Get Video</button>
	</div>
</div>
