<%= render 'layouts/youtube_api.js.erb' %>

<%= render 'new.js.erb' %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<%= render 'clips/player' %>

		<%= render 'clips/form' %>
		
	</div>
</div>