@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), 		  url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

body {
  font: 14px/1.231 "Helvetica Neue", sans-serif !important;
}

.top-row {
	padding-top: 20px;
}

.navbar-default {
	background-color: #1ABC9C;
	border-color: #1ABC9C;
	color: #fff !important;
	.navbar-brand {
		color: #fff !important;
		text-decoration: none;
	}
}

.input-lg {
	height: 28px !important;
}

.youclip-title-row {
	margin-top: -20px;
}

.video-player {
	border: 10px solid #34495e;	
	border-radius: 5px;
	width: 100%;
	.player {
		height: 360px;
	}
}

.video-control {
	height:	30px;
	width: 100%;
	margin-top: -5px;
	background-color: #34495e;	
	color: #1ABC9C;
	button {
		margin-top: 5px;
		color: #1ABC9C;
	}
	div.video-time {
		margin-top:5px;
		padding-top: 5px;
	}
}

.form-control {
	height: 40px !important;
	font: 14px/1.231 "Helvetica Neue", sans-serif !important;
}

.btn-lg {
	height: 40px;
}

.input-row {
	margin-top: 40px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-40 {
	margin-top: 40px;
}

.share-link {
	margin-top: -10px;
	padding-top: 0;
	a {
		color: #1ABC9C;
		text-decoration: none;
	}
	a:hover {
		color: #16A085;
	}
}