<!DOCTYPE html>
<html>
<head>
  <title>YouClip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
	
<div class="container">

	<div class="row top-row">
		<div class="col-md-10 col-md-offset-1">
			<nav class="navbar navbar-default navbar-embossed" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">YouClip</a>
				</div>
			</nav>
		</div>	
	</div>
	
	<div class="row">
		<div class="col-md-10 col-md-offset-1"><%= yield %></div>
	</div>

</div>

</body>
</html>
